@model List<GrupSabahAlisveris.Models.Admin>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<Partial name="_PoupMesaj"/>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <a asp-action="Create" asp-controller="Admins" class="btn btn-primary">
            <i class="fa-solid fa-address-book"></i></a>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Admin Adı</th>
                    <th>Admin Şifresi</th>
                    <th>Admin Email</th>
                    <th>Düzelt</th>
                    <th>Sil</th>
                   
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Admin Adı</th>
                    <th>Admin Şifresi</th>
                    <th>Admin Email</th>
                    <th>Düzelt</th>
                    <th>Sil</th>
                   
                </tr>
            </tfoot>
            <tbody>
        @foreach( var  item in Model)
                {
                    <tr>
                        <td>@item.AdminName</td>
                        <td>@item.AdminPassword</td>
                        <td>@item.AdminEmail</td>
                        <td><a class="btn btn-success" href="/Admins/Edit/@item.AdminId">
                                <i class="fa-solid fa-user-pen"></i>
                        </a></td>
               <td><a  class="btn btn-danger" asp-action="Delete" asp-controller="Admins" asp-route-id="@item.AdminId">
                                <i class="fa-solid fa-trash"></i>
               </a></td>
                       
                    </tr>
                }
               
               
            </tbody>
        </table>
    </div>
</div>
